# Byte-compiled / optimized / DLL files
__pycache__/
*.DS_Store
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

var
volumes
tmp-start-command.json
.lastBuildSha


.idea/
